/* Style global du conteneur principal */
.add-event-container {
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .page-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 20px;
    color: black;
  }
  
  /* Style pour le calendrier */
  .react-calendar {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: black !important;
  }
  
  .react-calendar__tile {
    border-radius: 50%;
    transition: background-color 0.3s ease;
    color: black;
  }
  
  .react-calendar__navigation{
    color: black !important;
  }
  .react-calendar__navigation__arrow{
    color: black !important;
  }
  .react-calendar__navigation__label{
    color: black !important;
  }

  .react-calendar__tile--active {
    background-color: #4a90e2;
    color: black;
  }
  
  /* Style pour la sélection d'événements */
  .event-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #fff;
    transition: border 0.3s ease;
    color: black;
  }
  
  .event-select:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  /* Style pour l'heure de l'événement */
  .event-time {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: black;
    font-size: 1rem;
    background-color: #fff;
    transition: border 0.3s ease;
  }
  
  .event-time:focus {
    border-color: #4a90e2;
    outline: none;
    color: black;
  }
  
  /* Style pour le bouton d'ajout */
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #357ab7;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Message de succès */
  .message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: green;
  }
  
  /* Style du TabBar */
  .tabbar-container {
    margin-top: 20px;
    text-align: center;
  }
  